<%- include('../layouts/header') %>

  <section class="py-5 container">
    <div class="row py-lg-5">
        <div class="col">
            <svg class="bi-home my-1 theme-icon-active" width="600" height="300"><use href="#one"></use></svg>
          </div>
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light"><b><strong>Ngahiji.</strong></b></h1>
        <p class="lead text-body-secondary">Platform jasa pembuatan <b><strong>website sederhana</strong></b>(landing page, business profile, dll), <b><strong>website lanjutan</strong></b>(e-commerce, dll), <b><strong>logo</strong></b> dan desain sederhana lainnya. Dengan <b><strong>Ngahiji</strong></b> pasti</p>
        <p>
        <div class="animated-info">
            <span class="animated-item"><b>Murah.</b></span>
            <span class="animated-item"><b>Aman.</b></span>
            <span class="animated-item"><b>Terpercaya.</b></span>
        </div>
        </p>
        </br>
        </br>
        <p>
          <a href="#layanan" class="btn btn-outline-warning my-2"> Cek Layanan.</a>
        </p>
      </div>
    </div>
  </br>
</br>
</br>
  </section>
  <!-- manfaat. -->
  <section id="journey">
    <div class="container text-center mt-5 py-5">
  <div class="row text-center mt-3">
    <div class="col">
        <h4 class="fw-light"><strong>#Murah</strong></h4>
        <p class="lead text-body-secondary">DP hanya 50%.</p>
    </div>
    <div class="col">
        <h4 class="fw-light"><strong>#Aman</strong></h4>
        <p class="lead text-body-secondary">Transaksi aman.</p>
    </div>
    <div class="col">
        <h4 class="fw-light"><strong>#Terpercaya</strong></h4>
        <p class="lead text-body-secondary">Jaminan uang kembali.</p>
    </div>
    <div class="col">
        <h4 class="fw-light"><strong>#Admin 24/7</strong></h4>
        <p class="lead text-body-secondary">Admin ramah selalu standby kalau gak ketiduran.</p>
    </div>
    <div class="col">
        <h4 class="fw-light"><strong>#Privacy</strong></h4>
        <p class="lead text-body-secondary">Privasi terjamin.</p>
    </div>
    <div class="col">
        <h4 class="fw-light"><strong>#Santai</strong></h4>
        <p class="lead text-body-secondary">Terima Beres.</p>
    </div>
    </div>
</div>
  </section>
  <!-- layanan. -->
  <section id="layanan">
  <div class="album py-5">
    <div class="container">
        <h1 class="text-center mb-5"><b>Layanan.</b></h1>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Netflix" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><svg class="bi my-1 theme-icon-active" width="120" height="120" x="37%" y="22%"><use href="#wordpress"></use></svg></svg>
            <div class="card-body">
                <h3>Web Sederhana.</h3>
              <p class="lead text-body-secondary"><b><strong>Rp650.000</strong></b> /project</p>
              <p class="lead text-body-secondary mb-0">- Free Domain 1 tahun.</p>
              <p class="lead text-body-secondary mb-0">- Free Hosting 1 tahun.</p>
              <p class="lead text-body-secondary mb-0">- Bebas pilih tema.</p>
              <p class="lead text-body-secondary mb-0">- Revisi 2x.</p>
              <p class="lead text-body-secondary mb-0">- Free Simple Logo.</p>
              <p class="lead text-body-secondary mb-0">- Contoh web sederhana: Langding Page, Business Profile, dan lainnya.</p>
              <p class="lead text-body-secondary">- Terima Beres.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="/checkout/sederhana">
                  <button type="button" class="btn btn-outline-warning">Pesan.</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Payment Channel Credit Card" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><svg class="bi my-1 theme-icon-active" width="200" height="150" x="28%" y="16%"><use href="#lanjutan"></use></svg></svg>
            <div class="card-body">
                <h3>Web Lanjutan.</h3>
              <p class="lead text-body-secondary"><b><strong>Rp1.200.000</strong></b> /project</p>
              <p class="lead text-body-secondary mb-0">- Free Domain 1 tahun.</p>
              <p class="lead text-body-secondary mb-0">- Free Hosting 1 tahun.</p>
              <p class="lead text-body-secondary mb-0">- Bebas pilih tema.</p>
              <p class="lead text-body-secondary mb-0">- Revisi 3x.</p>
              <p class="lead text-body-secondary mb-0">- Free Simple Logo.</p>
              <p class="lead text-body-secondary mb-0">- Contoh web Lanjutan: E-commerce, Dashboard, dan lainnya.</p>
              <p class="lead text-body-secondary">- Terima Beres.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="/checkout/lanjutan">
                        <button type="button" class="btn btn-outline-warning">Pesan.</button></a>
                      </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Payment Channel Credit Card" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><svg class="bi my-1 theme-icon-active" width="150" height="120" x="30%" y="25%"><use href="#logo"></use></svg></svg>
              <div class="card-body">
                <h3>Logo.</h3>
              <p class="lead text-body-secondary"><b><strong>Rp350.000</strong></b> /project</p>
              <p class="lead text-body-secondary mb-0">- Free Mockup.</p>
              <p class="lead text-body-secondary mb-0">- Revisi 2x.</p>
            </br>
            </br>
            </br>
            </br>
            </br>
            </br>
            </br>
            </br>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="/checkout/logo">
                        <button type="button" class="btn btn-outline-warning">Pesan.</button></a>
                      </div>
                      <a class="btn" href="/skema-harga"><small class="text-body-secondary">lihat skema harga.</small></a>
                </div>
              </div>
            </div>
          </div>
          
      </div>
    </section>
    <section id="cara-pesan">
      <div class="container text-center mt-5 py-5">
        <h1 class="text-center mb-5"><b>Cara Pesan.</b></h1>
    <div class="row text-center mt-3">
      <div class="col">
          <h4 class="fw-light"><strong>#1</strong></h4>
          <p class="lead text-body-secondary">Pilih Layanan Jasa.</p>
      </div>
      <div class="col">
          <h4 class="fw-light"><strong>#2</strong></h4>
          <p class="lead text-body-secondary">Lakukan Pembayaran DP 50%.</p>
      </div>
      <div class="col">
          <h4 class="fw-light"><strong>#3</strong></h4>
          <p class="lead text-body-secondary">Menunggu Proses Pengerjaan.</p>
      </div>
      <div class="col">
          <h4 class="fw-light"><strong>#4</strong></h4>
          <p class="lead text-body-secondary">Revisi.</p>
      </div>
      <div class="col">
        <h4 class="fw-light"><strong>#5</strong></h4>
        <p class="lead text-body-secondary">Pelunasan.</p>
    </div>
      <div class="col">
          <h4 class="fw-light"><strong>#6</strong></h4>
          <p class="lead text-body-secondary">Done!.</p>
      </div>
      </div>
      <p class="lead text-body-secondary mt-5">***************************</p>
  </div>
    </section>
    <section id="about" class="py-5 container text-center">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light"><b><strong>#Ngahiji.</strong></b></h1>
          <div class="animated-info">
              <span class="animated-item"><b>#Murah.</b></span>
              <span class="animated-item"><b>#Aman.</b></span>
              <span class="animated-item"><b>#Terpercaya.</b></span>
          </div>
          </p>
          </br>
          </br>
          <p>
            <a href="https://api.whatsapp.com/send/?phone=6283847172217&text=Halo+ka%2C+mau+nanya+nanya+perihal+ngahiji.&type=phone_number&app_absent=0" class="btn btn-outline-warning">Tanya CS.</a>
          </p>
        </div>
      </div>
    </section>
    </div>
  </div>

  <%- include('../layouts/footer') %>