<%- include('../layouts/header') %>
<div class="container py-5">
	<div class="row"> 
		<div class="row">
	<!--Begin @response before content sidebar hook-->
						
		
		<!--End @response before content sidebar hook-->
			
		<div id="content" class="twelve columns">
		
				
					
			<div class="post_container">
			
				<div class="post" id="post-383">
								

					<h2 class="posts_title">Ketentuan dan Syarat</h2>
						
					<div class="entry">

						<ol style="text-align: justify;">
<li>
		Semua data yang pemesan isikan dalam form pemesanan adalah benar dan apabila ada kepalsuan maka pemesan bersedia bertanggungjawab.
	</li>
<li>
		Pemesan paham dan mengetahui dalam dunia bisnis ada yang namanya etika bisnis, jadi pemesan bersedia melakukan komunikasi dan tindakan sesuai etika dan peraturan baik yang ditetapkan oleh Ngahiji maupun hukum Republik Indonesia.
	</li>
<li>
		Apabila pemesan membatalkan pemesanan setelah pihak Ngahiji melakukan pengerjaan maka pemesan bersedia memberikan hak sebesar Rp 200.000 kepada Ngahiji sebagai konsekwensi terhadap jasa dan pelayanan yang telah diberikan.
	</li>
<li>
		Dengan mengisi form pemesanan&nbsp; ini maka pemesan menyatakan benar-benar melakukan pemesanan ke Ngahiji dan bersedia mentaati syarat dan ketentuan pemesanan.
	</li>
</ol>
<h4 class="text-3xl" data-v-cb558144>Ketentuan Umum.</h4>
<ol style="text-align: justify;">
<li style="text-align: justify;">
		Pesanan yang kami terima adalah yang berupa konten yang jelas asal &ndash; usulnya &nbsp;dan tidak melanggar hukum Republik Indonesia.
	</li>
<li style="text-align: justify;">
		Kami tidak menerima order yang berupa penjualan narkoba, miras, supranatural, jimat, konten pornografi, perjudian, bisnis forex, situs scam, maupun situs penghasil uang otomatis tanpa kerja yang marak di internet.
	</li>
<li style="text-align: justify;">
		Pesanan berupa web, web yang sudah jadi bisa di update dan isi menjadi tanggung jawab pemesan, Ngahiji tidak bertangung jawab atas isi content produk yang dijual pelanggan, dan jika terjadi penyalahgunaan hukum oleh pelanggan, Ngahiji tidak dapat dituntut secara hukum oleh pihak ke tiga maupun pelanggan.
	</li>
<li style="text-align: justify;">
		Kami berhak menolak pembuatan dan membatalkan pengerjaan jika ternyata web yang dibuat menyalahi aturan yang ada.
	</li>
<li style="text-align: justify;">
		Kami &nbsp;berhak menonaktifkan akun jika ditengah jalan pelanggan terbukti melanggar peraturan yang tertulis di Ngahiji.
	</li>
<li style="text-align: justify;">
		Gambar, Artikel, dan isi website merupakan tanggung jawab dari pemilik website dan kami tidak bertanggung jawab atas isi maupun konten website dan jika terjadi penyalah gunaan hak cipta atau lain &ndash; lain Ngahiji tidak dapat dituntut secara hukum.
	</li>
<li style="text-align: justify;">
		Ngahiji berhak memberhentikan servis terhadap pelanggan secara sepihak apabila nama domain dan isi website pelanggan terbukti mengandung kalimat yang sensitif atau dilarang oleh salah satu negara di dunia. Baik yang berbau sara, politik, agama dan sebagainya.
	</li>
<li style="text-align: justify;">
		Ngahiji&nbsp; berhak menampilkan alamat Website pelanggan di Customer List kami. Hal ini justru akan menguntungkan pihak pelanggan berhubung pelanggan bersangkutan akan mendapatkan pengunjung/traffic tambahan dari Customer List kami.
	</li>
<li style="text-align: justify;">
		Ngahiji akan berusaha merancang logo dengan ide murni dari internal. Setelah logo fix dan diselesaikan pelunasan pembayaran, kami anjurkan untuk mendaftarkan hak paten desain logo ke HAKI (Hak Kekayaan Inteklektual).
	</li>
<li style="text-align: justify;">
		Ngahiji tidak mengeluarkan berupa surat paten atau surat pernyataan terkait apapun mengenai desain logo. Silahkan didaftarkan ke HAKI, karena HAKI lah yang berwenang memberikan surat paten dan pengesahan kepemilikan logo.
	</li>
<li style="text-align: justify;">
		Apabila telah didaftarkan ke HAKI kemudian ada penolakan dari HAKI mengenai desain Logo (bukan merek/brand/nama perusahaan) maka Ngahiji akan memberikan garansi mendesain ulang logo (redesign Logo). Dengan syarat menunjukkan surat penolakan dari HAKI.
	</li>
<li style="text-align: justify;">
		Lama garansi redesign yang kami berikan adalah jangka waktu 3 tahun (terhitung dari tanggal, bulan, tahun saat penyerahan desain logo).
	</li>
<li style="text-align: justify;">
		Pemesan adalah sebagai pihak dicision maker (pengambil keputusan) terhadap logo yang dipilih, maka apabila ada sebuah perselisilahan mengenai hak paten logo, pemesan lah yang bertanggungjawab (karena pendaftaran hak paten dilakukan oleh pemesan dan tidak termasuk dalam harga jasa desain logo). Ngahiji hanyalah sebuah jasa yang memberikan layanan jasa desain dan pembuatan konsep desain melalui beberapa pilihan, bukan menentukan/menetapkan/memutuskan terhadap logo yang dipilih.
	</li>
<li style="text-align: justify;">
		File desain yang diberikan berupa file bertipe CDR, PNG, JPG. Desain dapat diedit sendiri menggunakan file bertipe CDR (coreldraw).
	</li>
<li style="text-align: justify;">
		Apabila kehilangan file desain logo, pemesanan dapat meminta file desain logo tersebut dengan syarat mengajukan permintaan desain logo menggunakan email, email yang digunakan untuk melakukan order/pemesanan.
	</li>
<li style="text-align: justify;">
		Website yang telah jadi, dapat diupdate sendiri, baik konten, desain dan yang lainnya.
	</li>
<li style="text-align: justify;">
		Segala bentuk perselisihan diselesaikan dengan jalan kekeluargaan penuh etika, sopan dan tata krama.
	</li>
</ol>
<h4 class="text-3xl" data-v-cb558144>Syarat dan ketentuan pengerjaan dan pembayaran.</h4>
<ol style="text-align: justify;">
<li style="text-align: justify;">
		Data dan informasi yang ingin ditampilkan di website yang misalnya &nbsp;berupa&nbsp; profil, rek pembayaran, sample foto product, &nbsp;contact us bisa dikirim melalui email berikut: Ngahiji.corp@gmail.com
	</li>
<li style="text-align: justify;">
		Website pesanan akan dikerjakan setelah pemesan melakukan DP uang muka pembayaran 50%. Dan akan menyerahkan password setelah pemenuhan pembayaran 100%.
	</li>
<li style="text-align: justify;">
		Semua paket product kami sudah termasuk domain + hosting selama setahun dan tahun berikutnya biaya perpanjangan domain dan hosting ditanggung oleh pemesan. Pemesan bisa melakukan perpanjangan melalui Ngahiji maupun di perusahaan lain.
	</li>
<li style="text-align: justify;">
		Konsumen dilarang melakukan pembayaran transfer sepihak sebelum ada invoice, atau sebelum mengisi form pemesanan, Kami akan merefund uang yang ditransfer sepihak oleh client dikarenakan kami hanya mengerjakan website yang sudah jelas konten, konsep, dan tujuan pembuatan website.
	</li>
</ol>
<h4 class="text-3xl" data-v-cb558144>Syarat ketentuan revisi.</h4>
<ol style="text-align: justify;">
<li style="text-align: justify;">
		Design dan tampilan web yang kami tawarkan adalah sejumlah template default yang sudah di modifikasi sesuai uraian/deskripsi data profil dari usaha klien. (untuk tampilan web akhir desainnya akan sama sesuai demo template yang kami tawarkan, tanpa perubahan layout atau desain web)
	</li>
<li style="text-align: justify;">
		Jika pelanggan meminta design tambahan, maka akan dikenakan biaya nego.
	</li>
<li style="text-align: justify;">
		Untuk pelanggan yang menggunakan design custom (dikenakan charge). Dalam penyampaian redesign website pelanggan menyampaikan point -point yang lugas dan dalam support tiket. Kami tidak menerima kata-kata&nbsp;<em>sekian dulu nanti kami, coba ini dulu nanti kami lihat, dan sejenisnya.</em>&nbsp;dalam hal ini 1 email kiriman koreksi kami hitung 1 redesign. Maka gunakan kesempatan redesign ini sebaik-baiknya.
	</li>
<li style="text-align: justify;">
		Pemesan tidak diperbolehkan untuk mengganti tampilan desain web/theme/templete apabila sudah menentukan kode yang diisi dalam form pemesanan.
	</li>
</ol>
<h4 class="text-3xl" data-v-cb558144>Syarat dan ketentuan Garansi meliputi.</h4>
<ol style="text-align: justify;">
<li style="text-align: justify;">
		Kerusakan sistem website yang disebabkan kesalan pelanggan bukan menjadi tanggung jawab Ngahiji.
	</li>
<li style="text-align: justify;">
		Ngahiji hanya akan memberikan garansi instal ulang web baru jika terjadi kesalahan yang dilakukan pelanggan.
	</li>
<li style="text-align: justify;">
		Garansi logo selama 3 tahun terhitung mulai hari, tanggal, bulan dan tahun saat penyerahan file desain dan klien telah melakukan pelunasan.
	</li>
</ol>
<h4 class="text-3xl" data-v-cb558144><strong>KEWAJIBAN PELANGGAN</strong>&nbsp;&lsquo;&rsquo;Jika kewajiban berikut ini tidak dapat di penuhi dan disetujui, maka Anda tidak kami terima sebagai pelanggan&rsquo;&rsquo;. Setiap pelanggan Ngahiji wajib dan harus bersedia dengan syarat dan ketentuan yang berlaku di Ngahiji.</h4>
<ol style="text-align: justify;">
<li style="text-align: justify;">
		Bersedia membaca dan mentaati semua peraturan ini.
	</li>
<li style="text-align: justify;">
		Mendaftarkan diri dengan identitas asli dan e-mail yang masih berfungsi (dapat menerima e-mail), mengunakan e-mail milk sendiri tidak menggunakan e-mail orang lain atau e-mail palsu.
	</li>
<li style="text-align: justify;">
		Mengirimkan konfirmasi setelah melakukan pembayaran. Pelanggan di wajibkan melakukan konfirmasi sesuai dengan cara yang ditentukan.
	</li>
<li style="text-align: justify;">
		Mentaati peraturan dan ketentuan yang telah berlaku juga yang akan berlaku di Ngahiji.
	</li>
<li style="text-align: justify;">
		Peraturan yang belum tertulis, dapat di sepakati dengan bermusyawarah bersama.
	</li>
</ol>
<h4 class="text-3xl" data-v-cb558144>Pendaftaran Nama Domain.</h4>
<ol style="text-align: justify;">
<li style="text-align: justify;">
		Nama domain yang telah kami tentukan sesuai keinginan pelanggan tidak dapat digantikan dengan nama domain lainnya. Apabila pelanggan ingin mengganti nama domain, maka pelanggan harus melakukan pembelian baru untuk nama domain yang lain tersebut. Domain yang dimaksud adalah domain berbayar.
	</li>
<li style="text-align: justify;">
		Ngahiji tidak bertanggung jawab dan pelanggan tidak bisa menyalahkan apabila nama domain yang dipesan pelanggan telah dibeli pihak lain sebelum kami sempat mendaftarkannya.
	</li>
<li style="text-align: justify;">
		Kami tidak bertanggung jawab atas kehilangan nama domain yang disebabkan musibah, lupa dalam memperpanjang, &nbsp;dan segala sesuatu yang menyebabkan domain hilang diluar kemampuan kami.
	</li>
<li style="text-align: justify;">
		Kami juga tidak bertanggung jawab jika domain yang Anda daftarkan mengalami sengketa misal nama merek, atau hal &ndash; hal lain yang menyebabkan nama domain Anda dipermasalahkan pihak ke Tiga. Ngahiji tidak dapat dituntut secara hukum oleh pihak ke tiga maupun pelanggan.
	</li>
</ol>
<h4 class="text-3xl" data-v-cb558144>Perpanjangan Nama Domain.</h4>
<ol style="text-align: justify;">
<li style="text-align: justify;">
		Memperpanjang nama domain merupakan kewajiban dan tanggung jawab pelanggan sendiri. Jika domain anda tidak diperpanjang, maka domain akan kami lepas kembali. kami tidak bertanggung jawab atas hilangnya domain yang tidak diperpanjang.
	</li>
<li style="text-align: justify;">
		Setiap nama domain yang melebihi masa expire 2 minggu (14 hari) tidak melakukan perpanjangan, maka akan dikenakan denda 10x harga domain yang didaftarkan untuk memperpanjang kembali nama domain tersebut.
	</li>
<li style="text-align: justify;">
		Pelanggan dilarang untuk menggantikan &quot;Owner/Registrant Contact&quot;, &rdquo; Administrative Contact&rdquo; dan &ldquo;Billing Contact&rdquo; dengan nama dan alamat email Ngahiji. Pemberitahuan seperti perpanjangan domain dan sebagainya akan dikirim kepada pelanggan. Memperpanjang nama domain sepenuhnya menjadi tanggung jawab pelanggan sendiri, pelanggan tidak berhak untuk menggunakan nama dan alamat email Ngahiji pada kontak tersebut dan membebankan perpanjangan nama domain tersebut kepada pihak Ngahiji.
	</li>
<li style="text-align: justify;">
		Sesuai dengan peraturan Registrasy Domain ICANN (pengelola seluruh nama domain dunia), apabila nama domain anda telah expire/jatuh tempo lebih dari 30 hari, maka pihak Registrar (Reseller ICANN) akan menyerahkan nama domain Anda kembali ke registry sehingga status domain Anda berubah menjadi &ldquo;REDEMPTIONPERIOD&rdquo;. Pihak registry akan hold nama domain tsb sampai lepas/available. Dalam kurun waktu tersebut pihakNgahiji tidak dapat membantu Anda memperpanjangnya. Pamantauan nama domain tsb sampai lepas/available kambali. Sepenuhnya bukan merupakan tanggung jawab Ngahiji.
	</li>
</ol>
<h4 class="text-3xl" data-v-cb558144>Jika Ada Pelanggaran Terhapan Peraturan dan Ketentuan Diatas, Ngahiji dapat.</h4>
<ol style="text-align: justify;">
<li style="text-align: justify;">
		Memberi peringatan keras sebanyak 2x serta mengenakan denda sebesar-besarnya Rp 1.000.000,-
	</li>
<li style="text-align: justify;">
		Jika peringatan tersebut diabaikan dan tetap melanggar, Ngahiji&nbsp; akan memberhentikan layanan secara sepihak terhadap pelanggan tanpa kewajiban mengembalikan uang DP. Begitulah pelanggan mendaftarkan diri di Order Form Ngahiji dan telah menjadi pelanggan Ngahiji, maka seluruh peraturan diatas telah berlaku untuk pelanggan tersebut.
	</li>
<li style="text-align: justify;">
		Terimakasih Anda telah membaca dan mematuhi isi dari syarat dan ketentuan diatas semoga dapat selalu terjalin hubungan baik antara Ngahiji dan pelanggan.
	</li>
</ol>
<h4 class="text-3xl" data-v-cb558144>Syarat ketentuan hosting/ tempat penyimpanan data.</h4>
<ol style="text-align: justify;">
		Ngahiji berhak menonaktifkan (suspend) account hosting yang terdeteksi melakukan aktivitas yang membutuhkan resource sangat besar (apache, mysql, mail, dll) dan meyebabkan server down, kami memberikan bandwith unlimited namun bukan berarti Anda diizinkan menginstal modul/script yang dapat merusak kinerja server atau diluar batas normal. Dan account hosting baru bisa dibuka kembali jika ada perjanjian dari Pelanggan untuk memperbaiki program websitenya agar tidak lagi memakan resource yang besar.&nbsp;Batasan tersebut adalah :

</ol>
<ul style="text-align: justify;">
<li style="text-align: justify;">
		Penggunaan memori tidak boleh melebihi 10% per domain / file / aplikasi
	</li>
<li style="text-align: justify;">
		penggunaan CPU tidak boleh melebihi 20% per domain / file / aplikasi
	</li>
<li style="text-align: justify;">
		koneksi Apache tidak boleh melebihi 30 koneksi
	</li>
<li style="text-align: justify;">
		Perakun hanya di perbolehkan max 20 Proses
	</li>
<li style="text-align: justify;">
		15 koneksi maksimum yang diperbolehkan user MySQL
	</li>
<li style="text-align: justify;">
		100 email per jam, per domain
	</li>
</ul>
<ol style="text-align: justify;">
<li style="text-align: justify;">
		Ngahiji tidak dapat mengembalikan uang sewa apabila terjadi musibah pada server, seperti kerusuhan, bencana alam, dan hal &ndash; hal lain yang menyebabkan &nbsp;kehilangan data secara fatal atau segala hal yang tidak diinginkan dan di luar kemampuan kami dan pelanggan tidak dapat menuntut ganti rugi dan tidak akan menuntut atas kerugian kehilangan data/ kehilangan bisnis/ kehilangan omset/ dan semua kerugian yang dialami oleh musibah tersebut.
	</li>
<li style="text-align: justify;">
		Kewajiban backup data adalah menjadi tanggung jawab pelanggan, meskipun kami juga melakukan backup secara berkala setiap satu minggu sekali di server yang berbeda. Pelanggan boleh meminta backup sewaktu &ndash; waktu saat jam kerja.
	</li>
<li style="text-align: justify;">
		Pemberitahuan sewa server habis melalui email, Jika terlambat kami suspend &nbsp;selama 15 hari, jika setelah itu tidak diperpanjang selama 20 hari maka akun akan didelete otomatis oleh sistem.
	</li>
<li style="text-align: justify;">
		Semua layanan yang disediakan oleh Ngahiji hanya digunakan untuk tujuan yang sah menurut hukum.
	</li>
<li style="text-align: justify;">
		Semua isi atau link yang melanggar hukum tidak diperkenankan, termasuk pelanggaran hak cipta, merek dagang, SARA, dan pornografi.
	</li>
<li style="text-align: justify;">
		Segala aktivitas yang tidak sah menurut hukum atau merugikan pihak ketiga yang menggunakan fasilitas Ngahiji di luar tanggung jawab Ngahiji. Ngahiji dibebaskan dari tuntutan pihak ketiga atas terjadinya kerugian yang timbul akibat hal ini.
	</li>
<li style="text-align: justify;">
		Apabila Anda melanggar salah satu dari peraturan yang ada maka Ngahiji berhak menutup layanan secara sepihak dan tidak melakukan pengembalian dana yang telah dibayarkan.
	</li>
<li style="text-align: justify;">
		Hosting Ngahiji tidak Boleh digunakan menginstal website/subdomain/ apapun selain digunakan untuk &nbsp;script Ngahiji.
	</li>
<li style="text-align: justify;">
		Dukungan pada lembaga hukum yang berwajib; Ngahiji berhak untuk mendukung lembaga hukum yang berwenang dengan memberikan informasi yang diperlukan jika terdapat permohonan berlandaskan hukum dari lembaga hukum yang berwenang tanpa pemberitahuan sebelumnya kepada pelanggan. Kami mendukung sepenuhnya kegiatan lembaga hukum yang berwenang.
	</li>
</ol>
						
					</div><!--end entry-->
					
					<div style=clear:both;></div>
					

				
				</div><!--end post-->
		
			
						</div><!--end post_container-->
				
	</div><!--end content_left-->
	
	<!--Begin @response after content sidebar hook-->
			
		
	 
	
	 	<!--End @response after content sidebar hook-->
</div>
	
	</div><!--end row-->
</div><!--end container-->

<%- include('../layouts/footer') %>